---
import Layout from '../layouts/Layout.astro';
import { OQueEFuradeiraReversivel } from '../components/OQueEFuradeiraReversivel';
---

<Layout 
  title="O que é Furadeira Reversível e Por Que Você Precisa de Uma"
  description="Cansado de parafusos espanados e brocas travadas? Entenda por que a furadeira reversível é a ferramenta definitiva para garantir precisão e agilidade."
>
  <main>
    <OQueEFuradeiraReversivel client:load />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
