---
import Layout from '../layouts/Layout.astro';
import { OQueEBrocaHelicoidal } from '../components/OQueEBrocaHelicoidal';
---

<Layout 
  title="O que é Broca Helicoidal? Guia Rápido e Prático"
  description="Cansado de furos imprecisos e brocas que quebram? Entenda por que a broca helicoidal é a chave para perfurações perfeitas e como escolher a ideal."
>
  <main>
    <OQueEBrocaHelicoidal client:load />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
