---
import Layout from '../layouts/Layout.astro';
import { QualBrocaUsarParaFurarDrywall } from '../components/QualBrocaUsarParaFurarDrywall';
---

<Layout 
  title="Qual Broca Usar para Furar Drywall? Descubra a Ideal"
  description="Cansado de danificar o drywall ao tentar fixar objetos? Descubra a broca ideal e as técnicas de especialista para furos perfeitos e sem rachaduras."
>
  <main>
    {/* A diretiva client:load é necessária para que os elementos interativos do React funcionem no Astro */}
    <QualBrocaUsarParaFurarDrywall client:load />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
